<form action="/search" method="get" class="search">
  <input type="search" name="query" id="query">
  <button type="submit">Search</button>
</form>

<div class="tracks">
  <% if @tracks %>
    <% if @tracks.any? %>
      <%= erb :tracks, :layout => false %>
    <% end %>
  <% end %>
</div>
