<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "MusicTechMeetup Collabify" %></title>
    <link rel='stylesheet' href='/stylesheets/application.css'>

    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header><h1><a href='/'>Collabify</a></h1></header>
    <section>
      <form action="/search" method="get" class="search">
        <input type="search" name="query" id="query">
        <button type="submit">Search</button>
      </form>

      <% %w[notice error].each do |key| %>
        <% if flash[key] %>
          <div class="alert <%= key %>">
            <p><%= flash[key] %></p>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </section>
    <footer>
      <p>Collabify - add your tracks to the playlist! <a href="http://twitter.com/MusicTechMeetup">MusicTechMeetup</a></p>
    </footer>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/spin.js"></script>
  <script src="/javascripts/application.js"></script>
</html>
