<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "MusicTechMeetup Collabify" %></title>
    <link rel='stylesheet' href='/stylesheets/application.css'>

    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header><h1>Collabify</h1></header>
    <section>
      <%= yield %>
    </section>
    <footer>
      <p>Collabify - add your tracks to the playlist! <a href="http://twitter.com/MusicTechMeetup">MusicTechMeetup</a></p>
    </footer>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/spin.js"></script>
  <script src="/javascripts/application.js"></script>
</html>
