<div class="tracks">
  <h2>In the playlist</h2>
  <% if @tracks.any? %>
    <ol class="tracks">
      <% @tracks.each do |track| %>
        <li>
          <h3><%= track['track'] %></h3>
          <p><%= track['artist'] %></p>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>
