<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel='stylesheet' href='/stylesheets/application.css'>

    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header><h1>Collabify</h1></header>
    <section>
      <%= yield %>
    </section>
    <% %w[notice error].each do |key| %>
      <% if flash[key] %>
        <div class="alert <%= key %>">
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>
    <footer>
      <p>Collabify - add your tracks to the playlist! <a href="http://twitter.com/MusicTechMeetup">MusicTechMeetup</a></p>
    </footer>
  </body>
  <!-- <script src="/javascripts/underscore.js"></script>
  <script src="/javascripts/zepto.js"></script>
  <script src="/javascripts/backbone.js"></script> -->
  <script src="/javascripts/application.js"></script>
</html>
